.calcContainer {
  margin: 100px auto;
}

.formContainer {
  padding: 20px;
}

.formGroupLeftContainer {
  padding-top: 20px;
}

.formGroupRightContainer {
  text-align: center;
}

.labelPosition {
  text-align: center;
}

.formCalcPPPContainerLabel {
  font-family: Averta, Helvetica, sans-serif;
  font-size: 1.5em !important;
  font-weight: bold;
}

.formCalcPPPContainerRightLabel {
  font-family: Averta, Helvetica, sans-serif;
  font-size: 1.5em !important;
  font-weight: bold;
  padding-top: 50px;
}

.leftCol {
  background-color: rgb(242, 248, 255);
}

.rightCol {
  background-color: #fff
}

.amount {
  font-size: 36px;
  font-weight: 700;
  color: rgb(145, 148, 153);
  font-family: Averta, Helvetica, sans-serif;
}

.button {
  padding: 13px 20px 12px;
  border-color: #5ebd70;
  background-color: #5ebd70;
  border-radius: 220px;
}

.buttonText {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 21px;
  font-weight: 900;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.alertText {
  color: #ff0000;
  font-family: Averta, Helvetica, sans-serif;
}

.findMore{
  font-family: Averta, Helvetica, sans-serif;
  font-weight: 400;
  display: flex !important;
  font-size: 14px;
}

.svgContainer{
  margin-top: -5px;
  svg {
    fill: #5ebd70;
  }
}

.findMoreContainer{
  background-color: rgb(242, 248, 255);
  padding: 20px 50px;
  color: rgb(6, 20, 42);
  font-family: Averta, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  border-radius: 5px;
}

.labelText {
  color: #424d58;
  font-family: Averta, Helvetica, sans-serif;
  font-size: 16px;
}

.cardTitleText {
  font-size: 24px;
  font-family: Averta,Helvetica,Arial;
  font-weight: 700;
  line-height: 1.15;
  color: #06142a;
}

.cardBodyText{
  font-family: Averta,Helvetica,Arial;
  font-weight: 400;
  line-height: 1.5;
  color: #06142a;
  font-size: 14px;
}

.svgMediaContainer {
  position: absolute;
  left: 50px;
  svg {
    fill: #5ebd70;
  }
}

.radioText {
  font-family: Averta,Helvetica,Arial;
  font-weight: 400;
  input[type='radio'] {
    margin-top: 2px;
    margin-left: -1.2rem;
    -webkit-appearance:none;
    width:20px;
    height:20px;
    border:1px solid darkgray;
    border-radius:20px;
    outline:none;
    box-shadow:0 0 2px 0px gray inset;
  }
  
  input[type='radio']:hover {
    box-shadow:0 0 3px 0px #5ebd70 inset;
  }
  
  input[type='radio']:before {
    content:'';
    display:block;
    width: 60%;
    height: 60%;
    margin: 20% auto;    
    border-radius:60%;
  }
  
  input[type='radio']:checked:before {
    background:#5ebd70;
  }

  label {
    margin-left: 10px;
  }
}
