.calcContainer {
  margin: 100px auto;
}

.formContainer {
  padding: 30px;
}

.formGroupLeftContainer {
  padding-top: 20px;
}

.formGroupRightContainer {
  text-align: center;
}

.labelPosition {
  text-align: center;
}

.formCalcPPPContainerLabel {
  font-family: Averta, Helvetica, sans-serif;
}

.leftCol {
  background-color: rgb(242, 248, 255);
}